a {
	text-decoration: none;
	color: purple;
}
body {
	background-color: lightgrey;
	margin-left: 200px;
	margin-right: 200px;
}
h1 {
	text-align: center;
}
header {
	background-color: orange;
	padding: 20px;
	border-radius: 8px;
	font-family: 'Berkshire Swash', cursive;
}
.projects-list {
 	padding: 30px;
 	background-color: white;
 	margin-top: 20px;
 	border-radius: 8px;
}