h1 {
	background-color: #f1f1f2;
	display: flex;
	flex-direction: row-reverse;
}
h2 {
	display: flex;
	flex-direction: row-reverse;
}
h3 {
	background-color: #1995ad;
	color: white;
	display: flex;
	flex-direction: row-reverse;
}
